Source: libvmod-jemalloc
Section: web
Priority: extra
Maintainer: Reza Naghibi <reza@varnish-software.com>
Build-Depends: debhelper (>= 7),
 build-essential,
 jemalloc,
 pkg-config,
 python-docutils,
 varnish (>= 4.0.2),
 libvarnishapi-dev (>= 4.0.2)
Standards-Version: 3.8.1
Vcs-Git: git://github.com/varnish/libvmod-jemalloc.git

Package: libvmod-jemalloc
Architecture: any
Depends: varnish (>= 4.0.2), ${shlibs:Depends}, ${misc:Depends}, ${Varnish:ABI}
Description: jemalloc vmod for Varnish
